.ArchitectsDaughter {
  font-family: 'Architects Daughter', cursive;
}

.RobotoSlab {
  font-family: 'Roboto Slab', serif;
}

.AlegreyaSans {
  font-family: 'Alegreya Sans', sans-serif;
}

.Bitter {
  font-family: 'Bitter', serif;
}

.OpenSansCondensed {
  font-family: 'Open Sans Condensed', sans-serif;
}

.CinzelDecorative {
  font-family: 'Cinzel Decorative', cursive;
}

body {
  background-color: white;
}

html,
body {
  height: 100%;
}
.full-bg-img {  
    background: url("http://mdbootstrap.com/images/regular/nature/img%20(1).jpg") no-repeat center center fixed;  
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.top-nav-collapse {
    background-color: #4285F4;
}

/*Maps*/
#map-contact {
  height: 500px;
}
