html,
body {
  height: 100%;
}

.top-nav-collapse {
    background-color: #37474F;
}

/*FONTS*/
#remap {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 60px;
  color: #fafafa;
}

#remap-solar {
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  color: #fafafa;
}

#nav {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #fafafa;
}

#btn {
  font-family: 'Roboto', sans-serif;
  font-size: 16px; 
}

#font-divider {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 48px;
  color: #263238;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #2E2E2E;  
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  color: #212121;
}

.card-title-0 {
  line-height: 80%
}


/*IMAGES*/
.full-bg-img {  
  background: url("../img/site/pyra-2.png") no-repeat center center fixed;  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.about-bg-img {
  background: url("../img/site/about.png") no-repeat fixed;  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
}

/*MAPS*/
#map-contact {
  height: 400px;
}

#map-sensor {
  height: 800px;
}