
/* global and body settings */

body {
    background-color: #FFFFFF;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 90%;
    color: black;
}

/* site top image */

#header-image {
    height: 240px;
    background-image: url("../img/header.png");
    background-repeat: no-repeat;
}

#header-image p {
    margin: 0px;
    padding: 0px;
    padding-top: 80px;
    padding-left: 10px;
    font-size: 50px;
    font-weight: bold;
    font-size: 40px;
    color: #006600;
    text-shadow: 0 0 20px white, 0 0 18px white, 0 0 16px white, 0 0 14px white, 0 0 12px white, 0 0 10px white, 0 0 8px white, 0 0 6px white;
}

/* nav bar */
nav {
    margin: 0;
    padding: 0;
    overflow: auto;
    border: 0px solid #dcddde;
    background-color: #ffffff;
    border-radius: 0px;
    /*box-shadow: 0 0 8px #eee;*/
    background-color: #444;
    font-size: 1.3em;
}

nav ul {
    margin:0;
    padding:0;
    padding: 0px;
    display: block;
    list-style-type:none;
}

nav li {
    margin: 0;
    padding: 0;
    text-decoration: none;
    float: left;
    border-right: 2px solid #F3F3F3;
    /*border-left: 1px solid #DDDDDD;*/
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
}

.nav a {
text-decoration:none;
color: #F3F3F3;
}

nav li:hover {
    background: #E5E400;
    color: #FFF;
}

/* headers */
h2 {
    color: #E5E400;
}

h2.nonsolar {
    color: #000000;
}